body
  padding: 50px
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
a
  color: #00B7FF

table.pixel-grid
    
    border-collapse: collapse

    td
        width: 30px
        height: 30px
        border: 1px solid #DDDDDD
        cursor: pointer

div.colour-swatch
    width: 40px
    height: 25px
    border: 1px solid #DDDDDD    
